<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!-- Meta Data -->
    <meta data-rh="true" property="og:title" content="Swall Ecosystem - Visualize, Transfer, Monitoring Your Crypto Portfolio" />
    <meta data-rh="true" name="description" content="The Smart Wallet can help you to visualize, monitoring and transfer your crypto assets. Set reminder when your investment have reach the limit to stop loss or take profit.">
    <meta data-rh="true" property="og:image" content="assets/media/meta-image.png">
    <meta name="twitter:title" content="Swall Ecosystem - Visualize, Transfer, Monitoring Your Crypto Portfolio">
    <meta name="twitter:description" content="The Smart Wallet can help you to visualize, monitoring and transfer your crypto assets. Set reminder when your investment have reach the limit to stop loss or take profit.">
    <meta name="twitter:image" content="https://swall-eco.com/assets/media/meta-image.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="assets/media/logo.ico">
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="assets/css/vendor/slick.css">
    <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="assets/css/vendor/sal.css">
    <link rel="stylesheet" href="assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/vendor/green-audio-player.min.css">
    <link rel="stylesheet" href="assets/css/vendor/odometer-theme-default.css">
    <link rel="stylesheet" href="assets/css/countdown.css">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="assets/css/app.css">

</head>

<body class="sticky-header">
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  	<![endif]-->
    <a href="#main-wrapper" id="backto-top" class="back-to-top">
        <i class="far fa-angle-double-up"></i>
    </a>

    <!-- Preloader Start Here -->
    <div id="preloader"></div>
    <!-- Preloader End Here -->

    <div class="my_switcher d-none d-lg-block">
        <ul>
            <li title="Light Mode">
                <a href="javascript:void(0)" class="setColor light" data-theme="light">
                    <i class="fal fa-lightbulb-on"></i>
                </a>
            </li>
            <li title="Dark Mode">
                <a href="javascript:void(0)" class="setColor dark" data-theme="dark">
                    <i class="fas fa-moon"></i>
                </a>
            </li>
        </ul>
    </div>

    <div id="main-wrapper" class="main-wrapper">

        <!--=====================================-->
        <!--=        Header Area Start       	=-->
        <!--=====================================-->
        <header class="header axil-header header-style-2">
            <div id="axil-sticky-placeholder"></div>
            <div class="axil-mainmenu">
                <div class="container-fluid">
                    <div class="header-navbar">
                        <div class="header-logo">
                            <a href="#"><img class="light-version-logo" src="assets/media/logo-2.svg" alt="logo"></a>
                            <a href="#"><img class="dark-version-logo" src="assets/media/logo-3.svg" alt="logo"></a>
                        </div>
                        <div class="header-main-nav">
                            <!-- Start Mainmanu Nav -->
                            <nav class="mainmenu-nav" id="mobilemenu-popup">
                                <div class="d-block d-lg-none">
                                    <div class="mobile-nav-header">
                                        <div class="mobile-nav-logo">
                                            <a href="#">
                                                <img class="light-mode" src="assets/media/logo-2.svg" alt="Site Logo">
                                                <img class="dark-mode" src="assets/media/logo-3.svg" alt="Site Logo">
                                            </a>
                                        </div>
                                        <button class="mobile-menu-close" data-bs-dismiss="offcanvas"><i class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <ul class="mainmenu">
                                    <li class="">
                                        <a href="#" class="menu" data-target="about-us-area">About Us</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="menu" data-target="tokenomics-area">Tokenomics</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="menu" data-target="roadmap-area">Roadmap</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="menu" data-target="blog-area">Blog</a>
                                    </li>
                                    <li class="">
                                        <a href="#" class="menu" data-target="buy-area">Buy</a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- End Mainmanu Nav -->
                        </div>
                        <div class="header-action">
                            <ul class="list-unstyled">
                                <li class="sidemenu-btn d-lg-block d-none">
                                    <button class="btn-wrap btn-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenuRight">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                                </li>
                                <li class="mobile-menu-btn sidemenu-btn d-lg-none d-block">
                                    <button class="btn-wrap btn-dark" data-bs-toggle="offcanvas" data-bs-target="#mobilemenu-popup">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </button>
                                </li>
                                <li class="my_switcher d-block d-lg-none">
                                    <ul>
                                        <li title="Light Mode">
                                            <a href="javascript:void(0)" class="setColor light" data-theme="light">
                                                <i class="fal fa-lightbulb-on"></i>
                                            </a>
                                        </li>
                                        <li title="Dark Mode">
                                            <a href="javascript:void(0)" class="setColor dark" data-theme="dark">
                                                <i class="fas fa-moon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--=====================================-->
        <!--=        Banner Area Start         =-->
        <!--=====================================-->
        <section class="banner banner-style-2">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content" data-sal="slide-up" data-sal-duration="1000" data-sal-delay="100">
                            <h1 class="title">Technology &amp; Creativity</h1>
                            <a href="assets/media/whitepaper.v1.0.pdf" class="axil-btn btn-fill-white btn-large">View Whitepaper</a>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list-unstyled shape-group-18">
                <li class="shape shape-1" data-sal="slide-left" data-sal-duration="1000" data-sal-delay="100"><img src="assets/media/banner/banner-shape-1.png" alt="Shape"></li>
                <li class="shape shape-2" data-sal="slide-right" data-sal-duration="1000" data-sal-delay="100"><img src="assets/media/banner/banner-shape-2.png" alt="Shape"></li>
                <li class="shape shape-3" data-sal="zoom-in" data-sal-duration="500" data-sal-delay="600"><img src="assets/media/others/bubble-16.png" alt="Shape"></li>
                <li class="shape shape-4" data-sal="zoom-in" data-sal-duration="500" data-sal-delay="600"><img src="assets/media/others/bubble-15.png" alt="Shape"></li>
                <li class="shape shape-5" data-sal="zoom-in" data-sal-duration="500" data-sal-delay="600"><img src="assets/media/others/bubble-14.png" alt="Shape"></li>
                <li class="shape shape-6" data-sal="zoom-in" data-sal-duration="500" data-sal-delay="600"><img src="assets/media/others/bubble-16.png" alt="Shape"></li>
                <li class="shape shape-7" data-sal="slide-down" data-sal-duration="500" data-sal-delay="600"><img src="assets/media/others/bubble-26.png" alt="Shape"></li>
            </ul>
        </section>
        <!--=====================================-->
        <!--=        Service Area Start         =-->
        <!--=====================================-->
        <section id="about-us-area" class="section section-padding about-us">
            <div class="container">
                <div class="section-heading heading-left mb--20 mb_md--70">
                    <span class="subtitle">We heard what people needs and make it happen</span>
                    <h2 class="title">We never stop<br> innovating!</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 mt--200 mt_md--0" data-sal="slide-up" data-sal-duration="800" data-sal-delay="100">
                        <div class="services-grid service-style-2">
                            <div class="thumbnail">
                                <img src="assets/media/icon/icon-5.png" alt="icon">
                            </div>
                            <div class="content">
                                <h5 class="title"> Research</h5>
                                <p>Product research with the product team to determine market needs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt--100 mt_md--0" data-sal="slide-up" data-sal-duration="800" data-sal-delay="200">
                        <div class="services-grid service-style-2 active">
                            <div class="thumbnail">
                                <img src="assets/media/icon/icon-2.png" alt="icon">
                            </div>
                            <div class="content">
                                <h5 class="title"> Development</h5>
                                <p>With highly skilled engineering team from various startup.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" data-sal="slide-up" data-sal-duration="800" data-sal-delay="300">
                        <div class="services-grid service-style-2">
                            <div class="thumbnail">
                                <img src="assets/media/icon/icon-6.png" alt="icon">
                            </div>
                            <div class="content">
                                <h5 class="title"> Marketing</h5>
                                <p>Business has only Two functions - marketing and innovations</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="shape-group-7 list-unstyled">
                <li class="shape shape-1"><img src="assets/media/others/circle-2.png" alt="circle"></li>
                <li class="shape shape-2"><img src="assets/media/others/bubble-2.png" alt="Line"></li>
                <li class="shape shape-3"><img src="assets/media/others/bubble-1.png" alt="Line"></li>
            </ul>
        </section>
        <!--=====================================-->
        <!--=        Project Area Start         =-->
        <!--=====================================-->
        <section class="section section-padding-2 bg-color-light project-area">
            <div class="container">
                <div class="section-heading heading-left">
                    <span class="subtitle">Our Project</span>
                    <h2 class="title">What we gonna build <br> Together.</h2>
                </div>
                <div class="axil-isotope-wrapper">
                    <div class="isotope-button isotope-project-btn">
                        <button data-filter="*" class="is-checked"><span class="filter-text">All Works</span></button>
                        <button data-filter=".branding"><span class="filter-text">SWallet</span></button>
                        <button data-filter=".mobile"><span class="filter-text">Others</span></button>
                    </div>
                    <div class="row row-35 isotope-list">
                        <div class="col-md-6 project branding">
                            <div class="project-grid">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img src="assets/media/project/project-1.png" alt="project">
                                    </a>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="single-portfolio.html">Secure Wallet</a></h4>
                                    <span class="subtitle">We make the safest wallet to store your crypto assets anywhere and anytime. Its also allows you to securely save your crypto assets using OTP or 2FA (2 Factor Authentication)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 project branding">
                            <div class="project-grid">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img src="assets/media/project/project-2.png" alt="project">
                                    </a>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="#">Smart Wallet</a></h4>
                                    <span class="subtitle">Smart and Secure wallet help you to visualize and monitor your crypto portfolio. This is just a begining before we move to another big project, swallet will adapted in our next project in Swall Ecosystem.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 project mobile">
                            <div class="project-grid">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img src="assets/media/project/project-3.png" alt="project">
                                    </a>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="#">JobSea</a></h4>
                                    <span class="subtitle">More detail cooming soon. <br>Hint: Company, Jobseeker, Freelancer, Work, Crypto Currency.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 project mobile">
                            <div class="project-grid">
                                <div class="thumbnail">
                                    <a href="#">
                                        <img src="assets/media/project/project-4.png" alt="project">
                                    </a>
                                </div>
                                <div class="content">
                                    <h4 class="title"><a href="#">Swallify</a></h4>
                                    <span class="subtitle">Coming Soon</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="shape-group-7 list-unstyled">
                <li class="shape shape-1"><img src="assets/media/others/circle-2.png" alt="circle"></li>
                <li class="shape shape-2"><img src="assets/media/others/bubble-2.png" alt="Line"></li>
                <li class="shape shape-3"><img src="assets/media/others/bubble-1.png" alt="Line"></li>
            </ul>
        </section>
        <!--=====================================-->
        <!--=        Counter Up Area Start      =-->
        <!--=====================================-->
        <section id="tokenomics-area"  class="section section-padding bg-color-dark tokenomics">
            <div class="container">
                <div class="section-heading heading-light" style="margin-bottom: 0px;"">
                    <h2 class="title">Tokenomics</h2>
                    <img class="paralax-image" src="assets/media/project/Chart.png" alt="Chat">
                </div>
                <div class="row">
                    <p style="text-align: center;">With 10% of tranction fee distribute to :</p>
                    <div class="col-lg-4 sal-animate" data-sal="slide-up" data-sal-duration="800" data-sal-delay="100">
                        <div class="counterup-progress" style="padding-bottom: 0px; padding-top: 0px;">
                            <div class="count-number h2">
                                <span class="">4%</span>
                            </div>
                            <h6 class="title">Marketing</h6>
                        </div>
                    </div>
                    <div class="col-lg-4 sal-animate" data-sal="slide-up" data-sal-duration="800" data-sal-delay="200">
                        <div class="counterup-progress active" style="padding-bottom: 0px; padding-top: 0px;">
                            <div class="count-number h2">
                                <span class="">3%</span>
                            </div>
                            <h6 class="title">Research & Development</h6>
                        </div>
                    </div>
                    <div class="col-lg-4 sal-animate" data-sal="slide-up" data-sal-duration="800" data-sal-delay="300">
                        <div class="counterup-progress" style="padding-bottom: 0px; padding-top: 0px;">
                            <div class="count-number h2">
                                <span class="">3%</span>
                            </div>
                            <h6 class="title">Liquidity Pool</h6>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list-unstyled shape-group-10">
                <!-- <li class="shape shape-1"><img src="assets/media/others/line-9.png" alt="Circle"></li> -->
                <li class="shape shape-2"><img src="assets/media/others/bubble-42.png" alt="Circle"></li>
                <li class="shape shape-3"><img src="assets/media/others/bubble-43.png" alt="Circle"></li>
            </ul>
        </section>
        
        <!--=====================================-->
        <!--=        Roadmap Area Start       	=-->
        <!--=====================================-->
        <section id="roadmap-area"  class="section section-padding roadmap">
            <div class="container">
                <div class="section-heading mb-0">
                    <h2 class="title">Roadmap</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 sal-animate" data-sal="slide-up" data-sal-duration="800" data-sal-delay="100">
                        <div class="pricing-table pricing-borderd">
                            <div class="pricing-header">
                                <h3 class="title">Phase 1</h3>
                                <span class="subtitle">Planning &amp; Preparing</span>
                            </div>
                            <div class="pricing-body">
                                <ul class="list-unstyled">
                                    <li>Team Building</li>
                                    <li>Project Feasibility &amp; Market Research</li>
                                    <li>Whitepaper V1</li>
                                    <li>Website Development</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 sal-animate" data-sal="slide-up" data-sal-duration="800" data-sal-delay="100">
                        <div class="pricing-table pricing-borderd active">
                            <div class="pricing-header">
                                <h3 class="title">Phase 2</h3>
                                <span class="subtitle">Core Development &amp; Launch</span>
                            </div>
                            <div class="pricing-body">
                                <ul class="list-unstyled">
                                    <li>Website Launch</li>
                                    <li>Whitepaper Release</li>
                                    <li>Smart Contract Deployment</li>
                                    <li>Community Building</li>
                                    <li>Presale</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 sal-animate" data-sal="slide-up" data-sal-duration="800" data-sal-delay="100">
                        <div class="pricing-table pricing-borderd">
                            <div class="pricing-header">
                                <h3 class="title">Phase 3</h3>
                                <span class="subtitle">Marketing &amp; DApp Launch</span>
                            </div>
                            <div class="pricing-body">
                                <ul class="list-unstyled">
                                    <li>Marketing</li>
                                    <li>Pancakeswap</li>
                                    <li>Apply for Major Listings</li>
                                    <li>Swallet Development</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 sal-animate" data-sal="slide-up" data-sal-duration="800" data-sal-delay="100">
                        <div class="pricing-table pricing-borderd">
                            <div class="pricing-header">
                                <h3 class="title">Phase 4</h3>
                                <span class="subtitle">Expansions</span>
                            </div>
                            <div class="pricing-body">
                                <ul class="list-unstyled">
                                    <li>Swallet Release Android &amp; IOS</li>
                                    <li>Onboard more team for JobSea</li>
                                    <li>JobSea project kickoff</li>
                                    <li>Research about Swallify</li>
                                    <li>Swallify UI Development</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="shape-group-3 list-unstyled">
                <li class="shape shape-2"><img src="assets/media/others/bubble-4.png" alt="shape"></li>
            </ul>
        </section>
        <!--=====================================-->
        <!--=        Brand Area Start       	=-->
        <!--=====================================-->
        <section class="section bg-color-dark">
            <div class="container">
                <div class="section-heading heading-light-left">
                </div>
                <div class="row">
                    <div class="col-lg-3 col-6" data-sal="slide-up" data-sal-duration="500">
                        <div class="brand-grid active">
                            <img src="assets/media/brand/brand-1.png" alt="Brand">
                        </div>
                    </div>
                    <div class="col-lg-3 col-6" data-sal="slide-up" data-sal-duration="500" data-sal-delay="100">
                        <div class="brand-grid">
                            <img src="assets/media/brand/brand-2.png" alt="Brand">
                        </div>
                    </div>
                    <div class="col-lg-3 col-6" data-sal="slide-up" data-sal-duration="500" data-sal-delay="200">
                        <div class="brand-grid">
                            <img src="assets/media/brand/brand-3.png" alt="Brand">
                        </div>
                    </div>
                    <div class="col-lg-3 col-6" data-sal="slide-up" data-sal-duration="500" data-sal-delay="400">
                        <div class="brand-grid">
                            <img src="assets/media/brand/brand-5.png" alt="Brand">
                        </div>
                    </div>
                    <div class="col-lg-3 col-6" data-sal="slide-up" data-sal-duration="500" data-sal-delay="500">
                        <div class="brand-grid">
                            <img src="assets/media/brand/brand-6.png" alt="Brand">
                        </div>
                    </div>
                    <div class="col-lg-3 col-6" data-sal="slide-up" data-sal-duration="500" data-sal-delay="600">
                        <div class="brand-grid">
                            <img src="assets/media/brand/brand-7.png" alt="Brand">
                        </div>
                    </div>
                    <div class="col-lg-3 col-6" data-sal="slide-up" data-sal-duration="500" data-sal-delay="700">
                        <div class="brand-grid">
                            <img src="assets/media/brand/brand-8.png" alt="Brand">
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list-unstyled shape-group-10">
                <li class="shape shape-1"><img src="assets/media/others/line-9.png" alt="Circle"></li>
            </ul>
        </section>
        <!--=====================================-->
        <!--=        Blog Area Start       	    =-->
        <!--=====================================-->
        <section id="blog-area"  class="section section-padding-equal blog-area">
            <div class="container">
                <div class="section-heading">
                    <span class="subtitle">What's Going On</span>
                    <h2 class="title">Latest stories</h2>
                    <p>Reading brings us unknown friends</p>
                </div>
                <div class="row g-0">
                    <div class="col-xl-6" data-sal="slide-right" data-sal-duration="800" data-sal-delay="100">
                        <div class="blog-list active">
                            <div class="post-thumbnail">
                                <a target="_blank" href="https://medium.com/@swall.ecosystem/how-we-deliver-product-continuously-on-swall-ecosystem-a16792268b85"><img src="assets/media/blog/blog-1.png" alt="Blog Post"></a>
                            </div>
                            <div class="post-content">
                                <h5 class="title"><a target="_blank" href="https://medium.com/@swall.ecosystem/how-we-deliver-product-continuously-on-swall-ecosystem-a16792268b85">How we deliver product continuously on Swall Ecosystem</a></h5>
                                <p>A simple introduction about our development process. We are using Agile Methodology...</p>
                                <a target="_blank" href="https://medium.com/@swall.ecosystem/how-we-deliver-product-continuously-on-swall-ecosystem-a16792268b85" class="more-btn">Learn more<i class="far fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6" data-sal="slide-left" data-sal-duration="800" data-sal-delay="100">
                        <div class="blog-list border-start">
                            <div class="post-thumbnail">
                                <a href="https://medium.com/@swall.ecosystem/swall-ecosystem-cbf97266e648"><img src="assets/media/blog/blog-2.png" alt="Blog Post"></a>
                            </div>
                            <div class="post-content">
                                <h5 class="title"><a href="https://medium.com/@swall.ecosystem/swall-ecosystem-cbf97266e648">#1 Swall Ecosystem</a></h5>
                                <p>In short, we are trying to create an ecosystem that will provide investors with a new experience...</p>
                                <a href="https://medium.com/@swall.ecosystem/swall-ecosystem-cbf97266e648" class="more-btn">Learn more<i class="far fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="shape-group-1 list-unstyled">
                <li class="shape shape-1"><img src="assets/media/others/bubble-1.png" alt="bubble"></li>
                <li class="shape shape-2"><img src="assets/media/others/line-1.png" alt="bubble"></li>
                <li class="shape shape-3"><img src="assets/media/others/line-2.png" alt="bubble"></li>
                <li class="shape shape-4"><img src="assets/media/others/bubble-2.png" alt="bubble"></li>
            </ul>
        </section>
        <!--=====================================-->
        <!--=     Call To Action Area Start     =-->
        <!--=====================================-->
        <section id="buy-area" class="section call-to-action-area buy-area">
            <div class="container">
                <div class="call-to-action">
                    <div class="section-heading heading-light">
                        <span class="subtitle">Let's Work Together</span>
                        <h2 class="title">Join us to build innovative product ?</h2>
                        <a href="#" class="axil-btn btn-large btn-fill-white">Presale Will Start Soon!</a>
                    </div>
                    <div class="thumbnail">
                        <div class="larg-thumb" data-sal="zoom-in" data-sal-duration="600" data-sal-delay="100">
                            <img class="paralax-image" src="assets/media/others/chat-group.png" alt="Chat">
                        </div>
                        <ul class="list-unstyled small-thumb">
                            <li class="shape shape-1" data-sal="slide-right" data-sal-duration="800" data-sal-delay="400">
                                <img class="paralax-image" src="assets/media/others/laptop-poses.png" alt="Laptop">
                            </li>
                            <li class="shape shape-2" data-sal="slide-left" data-sal-duration="800" data-sal-delay="300">
                                <img class="paralax-image" src="assets/media/others/bill-pay.png" alt="Bill">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="list-unstyled shape-group-9">
                <li class="shape shape-1"><img src="assets/media/others/bubble-12.png" alt="Comments"></li>
                <li class="shape shape-2"><img src="assets/media/others/bubble-16.png" alt="Comments"></li>
                <li class="shape shape-3"><img src="assets/media/others/bubble-13.png" alt="Comments"></li>
                <li class="shape shape-4"><img src="assets/media/others/bubble-14.png" alt="Comments"></li>
                <li class="shape shape-5"><img src="assets/media/others/bubble-16.png" alt="Comments"></li>
                <li class="shape shape-6"><img src="assets/media/others/bubble-15.png" alt="Comments"></li>
                <li class="shape shape-7"><img src="assets/media/others/bubble-16.png" alt="Comments"></li>
            </ul>
        </section>
        <!--=====================================-->
        <!--=        Footer Area Start       	=-->
        <!--=====================================-->
        <footer class="footer-area">
            <div class="container">
                <div class="footer-top">
                    <div class="footer-social-link">
                        <ul class="list-unstyled">
                            <li><a href="https://twitter.com/swall_ecosystem?s=11" data-sal="slide-up" data-sal-duration="500" data-sal-delay="200"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://t.me/swall_eco" data-sal="slide-up" data-sal-duration="500" data-sal-delay="300"><i class="fab fa-telegram"></i></a></li>
                            <li><a href="https://link.medium.com/GVBp5n1PSnb" data-sal="slide-up" data-sal-duration="500" data-sal-delay="500"><i class="fab fa-medium"></i></a></li>
                            <li><a href="https://discord.gg/pTK5BxFv" data-sal="slide-up" data-sal-duration="500" data-sal-delay="600"><i class="fab fa-discord"></i></a></li>
                            <li><a href="https://instagram.com/swall_ecosystem?utm_medium=copy_link" data-sal="slide-up" data-sal-duration="500" data-sal-delay="700"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-bottom" data-sal="slide-up" data-sal-duration="500" data-sal-delay="100">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-copyright">
                                <span class="copyright-text">© 2022. All rights reserved by Swall</a>.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>




        <!--=====================================-->
        <!--=       Offcanvas Menu Area       	=-->
        <!--=====================================-->
        <div class="offcanvas offcanvas-end header-offcanvasmenu" tabindex="-1" id="offcanvasMenuRight">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="row ">
                    <div class="col-lg-5 col-xl-6">
                        <ul class="main-navigation list-unstyled">
                            <li class="">
                                <a href="#" class="menu" data-target="about-us-area">About Us</a>
                            </li>
                            <li class="">
                                <a href="#" class="menu" data-target="tokenomics-area">Tokenomics</a>
                            </li>
                            <li class="">
                                <a href="#" class="menu" data-target="roadmap-area">Roadmap</a>
                            </li>
                            <li class="">
                                <a href="#" class="menu" data-target="blog-area">Blog</a>
                            </li>
                            <li class="">
                                <a href="#" class="menu" data-target="buy-area">Buy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-7 col-xl-6">
                        <div class="contact-info-wrap">
                            <div class="contact-inner">
                                <address class="address">
                                    <span class="title">Contact Information</span>
                                    <p>help@swall.com</p>
                                </address>
                            </div>
                            <div class="contact-inner">
                                <h5 class="title">Find us here</h5>
                                <div class="contact-social-share">
                                    <ul class="social-share list-unstyled">
                                        <li><a href="https://t.me/swall_eco"><i class="fab fa-telegram"></i></a></li>
                                        <li><a href="https://twitter.com/swall_ecosystem?s=11"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="https://instagram.com/swall_ecosystem?utm_medium=copy_link"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="https://discord.gg/pTK5BxFv"><i class="fab fa-discord"></i></a></li>
                                        <li><a href="https://link.medium.com/GVBp5n1PSnb"><i class="fab fa-medium"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery Js -->
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/isotope.pkgd.min.js"></script>
    <script src="assets/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/vendor/odometer.min.js"></script>
    <script src="assets/js/vendor/jquery-appear.js"></script>
    <script src="assets/js/vendor/slick.min.js"></script>
    <script src="assets/js/vendor/sal.js"></script>
    <script src="assets/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/vendor/js.cookie.js"></script>
    <script src="assets/js/vendor/jquery.style.switcher.js"></script>
    <script src="assets/js/vendor/jquery.countdown.min.js"></script>
    <script src="assets/js/vendor/tilt.js"></script>
    <script src="assets/js/vendor/green-audio-player.min.js"></script>
    <script src="assets/js/vendor/jquery.nav.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <!-- Site Scripts -->
    <script src="assets/js/app.js"></script>
    <script>
        $(document).on('click','.menu', function(event) {
                event.preventDefault();
                var target = "#" + this.getAttribute('data-target');
                $('html, body').animate({
                    scrollTop: $(target).offset().top
                }, 1000);
            });
    </script>
</body>

</html>